{{!-- Muestra los productos agregados hasta el momento (al archivo products.json) --}}
<div>
    <h1>
        Productos agregados a la DB:
    </h1>
    {{#each products}}
        <div>
            <h2>
                Title: {{this.title}}
            </h2><br>
            <div>
                <h2>Id:</h2><h2>{{this._id}}</h2>
            </div><br>
            <h2>
                description: {{this.description}}
            </h2><br>
            <h2>
                price: {{this.price}}
            </h2><br>
            <h2>
                img: {{this.img}}
            </h2><br>
            <h2>
                code: {{this.code}}
            </h2><br>
            <h2>
                stock: {{this.stock}}
            </h2><br>
            <h2>
                status: {{this.estado}}
            </h2><br>
            <h2>
                category: {{this.category}}
            </h2><br>
            <form id="addToCart">
                <h3>Ingrese el id del producto</h3>
                <input type="text" id="pid" name="id" required><br><br>
                <h3>Ingrese el id del cart</h3>
                <input type="text" id="cid" name="id" required><br><br>
                <button type="submit" id="addToCart">Agregar producto</button>
            </form>
            <hr>
        </div>
    {{/each}}
    <H3>Página {{currentPage}} de {{totalPages}}</H3>
    {{#if hasPrevPage}}
    <a href="/api/products?page={{prevPage}}">Anterior</a>
    {{/if}}
    {{#if hasNextPage}}
    <a href="/api/products?page={{nextPage}}">Siguiente</a>
    {{/if}}
</div>
{{!-- <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script> --}}
<script src="/socket.io/socket.io.js"></script> {{!-- Script para socket.io --}}
<script src="../public/js/home.js"></script>